.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);

    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5px;


}
.button:hover .imageview {
    -fx-opacity: 1.0;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5px;
    /* Add any other styles you want */

}
.normalButton{

}
.text-field {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

/*.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: pink;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: red;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: blue;
}*/