.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);

    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5px;


}
.button:hover .imageview {
    -fx-opacity: 1.0;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5px;
    /* Add any other styles you want */

}
.normalButton{

}
.text-field {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar{
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: white;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent;

}

.chatPane{
    -fx-background-color:rgba(255,255,255,0.2);
    -fx-border-color:transparent;
    -fx-padding:10px;
    -fx-background-radius:15px;

}
.chatPane .scroll-bar:horizontal .track,
.chatPane .scroll-bar:vertical .track {
    -fx-background-color:transparent;

}
.chatPane .scroll-bar{
    -fx-background-color: transparent;
}

.chatPane .scroll-bar:horizontal .thumb,
.chatPane .scroll-bar:vertical .thumb {
    -fx-background-color:white;
}

.chatPane .scroll-bar .increment-button,
.chatPane .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}
.chatText{
    -fx-font-family:"Arial";
    -fx-font-weight:bold;
    -fx-font-size:15px;
}